.button_div {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    height: 75px;
}

.asu_button {
    background-color: #ffc627;
    font-weight: bold;
    color: black;
    border-color: #ffc627;
    display: inline-block;
    width: max-content;
    text-align: center;
    border: 1px solid transparent;
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 400rem;
    -webkit-transition: .03s ease-in-out;
    transition: .03s ease-in-out;
}

.asu_button:hover {
    background-color: #ffc627;
    padding: 1.1rem 2.2rem;
    font-weight: bold;
    color: black;
}